body {
    background-color: lightgrey;
}

table, th, td{
    border:3px solid black;
    border-collapse:collapse;
}

td{
    width: 125px;
    height: 75px;
    padding: 0;
}

h1 {
    color: black;
}

img {
    width: 125px;
    height: 75px;
    opacity: .65;
}

img:hover {
    opacity: 1.0;
}

#toph{
    text-align: center;
}

#welcome{
    background-color: #2d62b8;
    height: 50px;
}

div.champs{
    float: left;
    border: 2px solid black;
    width: 125px;
    height: 75px;
    margin-left: 5px;
    margin-bottom: 5px;
}

div.champs:hover{
    border: 2px solid red;
}
iframe{
    width:100%;
    height:400px;
}