body {
    background-color: lightgrey;
}

table, th, td{
    border:3px solid black;
    border-collapse:collapse;
}

td{
    width: 125px;
    height: 75px;
    padding: 0;
}

h1 {
    color: black;
}

img {
    width: 125px;
    height: 75px;
}

#toph{
    text-align: center;
}

#welcome{
    background-color: #2d62b8;
    height: 50px;
}